html {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }
  html input[type='button'] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible; }
  html input[disabled] {
    cursor: default; }

body {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 1;
  position: relative;
  width: 100%;
  margin: 0; }

div {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

span {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

applet {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

object {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  max-width: 100%; }

iframe {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  vertical-align: middle;
  max-width: 100%; }

h1 {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

h2 {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

h3 {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

h4 {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

h5 {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

h6 {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

blockquote {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  quotes: none; }
  blockquote:before {
    content: '';
    content: none; }
  blockquote:after {
    content: '';
    content: none; }

pre {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace, serif;
  font-size: 100%;
  _font-family: 'courier new',monospace; }

a {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  background-color: transparent; }
  a:focus {
    outline: 0;
    outline: 0; }
  a:active {
    outline: 0; }
  a:hover {
    outline: 0; }

abbr {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

acronym {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

address {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

big {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

cite {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

code {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font-family: monospace, serif;
  font-size: 100%;
  _font-family: 'courier new',monospace; }

del {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

dfn {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font-style: italic; }

em {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

img {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  vertical-align: middle;
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
  border: 0;
  max-width: 100%; }

ins {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

kbd {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font-family: monospace, serif;
  font-size: 100%;
  _font-family: 'courier new',monospace; }

q {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  quotes: none; }
  q:before {
    content: '';
    content: none; }
  q:after {
    content: '';
    content: none; }

s {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

samp {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font-family: monospace, serif;
  font-size: 100%;
  _font-family: 'courier new',monospace; }

small {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font-size: 80%; }

strike {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

strong {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font-weight: bold; }

sub {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -.5em;
  vertical-align: baseline; }

tt {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

var {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

b {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font-weight: bold; }

u {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

i {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

center {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

dl {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

dt {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

dd {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  padding: 0; }

ol {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  list-style: none;
  padding: 0; }

ul {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  list-style: none;
  padding: 0; }

li {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

fieldset {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
  border: 0; }

form {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  margin: 0; }

label {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

legend {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  padding: 0;
  white-space: normal;
  border: 0;
  *margin-left: -7px; }

table {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse; }
  table td {
    padding: 0; }
  table th {
    padding: 0; }

caption {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

tbody {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

tfoot {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

thead {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

tr {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

th {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

td {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

article {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  display: block; }

aside {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  display: block; }

canvas {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }

details {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  display: block; }

embed {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  max-width: 100%; }

figure {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  display: block;
  margin: 0; }

figcaption {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  display: block; }

footer {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  display: block; }

header {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  display: block; }

hgroup {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  display: block; }

menu {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  display: block; }

nav {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  display: block; }
  nav ul {
    list-style: none;
    list-style-image: none; }
  nav ol {
    list-style: none;
    list-style-image: none; }

output {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

ruby {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

section {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  display: block; }

summary {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  display: block; }

time {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

mark {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  color: #000;
  background-color: #ff0; }

audio {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }
  audio:not([controls]) {
    display: none;
    height: 0; }

video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  max-width: 100%; }

main {
  display: block; }

button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 100%;
  line-height: normal;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

p {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto; }

input {
  font-size: 100%;
  line-height: normal;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }
  input::-moz-focus-inner {
    padding: 0;
    border: 0; }

select {
  font-size: 100%;
  line-height: normal;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

textarea {
  font-size: 100%;
  line-height: normal;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  overflow: auto;
  resize: vertical;
  vertical-align: top; }

optgroup {
  font-weight: bold; }

input[type='reset'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

input[disabled] {
  cursor: default; }

input[type='checkbox'] {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type='radio'] {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type='search'] {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }
  input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    -webkit-appearance: none; }
  input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
    -webkit-appearance: none; }

button[disabled] {
  cursor: default; }

input[type='number']::-webkit-inner-spin-button {
  height: auto; }

input[type='number']::-webkit-outer-spin-button {
  height: auto; }

* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }
  *:after {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility; }
  *:before {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

svg {
  vertical-align: middle; }
  svg:not(:root) {
    overflow: hidden; }

[hidden] {
  display: none; }

template {
  display: none; }

abbr[title] {
  border-bottom: 1px dotted; }

.clear {
  clear: both; }

.wp-caption {
  max-width: 100%; }

.button,
button,
.btn,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  padding: 15px;
  width: 214px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  -o-transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: #2c303d;
  border: none;
  -webkit-border-radius: 22px;
          border-radius: 22px;
  behavior: url(css/PIE.htc);
  background-color: #8ae6cf;
  -webkit-font-smoothing: antialiased; }
  .button:hover, .button:focus, .button:active,
  button:hover,
  button:focus,
  button:active,
  .btn:hover,
  .btn:focus,
  .btn:active,
  input[type='button']:hover,
  input[type='button']:focus,
  input[type='button']:active,
  input[type='reset']:hover,
  input[type='reset']:focus,
  input[type='reset']:active,
  input[type='submit']:hover,
  input[type='submit']:focus,
  input[type='submit']:active {
    opacity: 0.8; }
  .button:disabled,
  button:disabled,
  .btn:disabled,
  input[type='button']:disabled,
  input[type='reset']:disabled,
  input[type='submit']:disabled {
    cursor: not-allowed;
    opacity: .5; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.1;
  min-width: 302px;
  -webkit-transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  -o-transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  color: #282828;
  background-color: #fff;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #2c303d;
  letter-spacing: 2px;
  letter-spacing: 1.8px; }

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 23px; }

p {
  margin: 0 0 9px; }

pre {
  margin: 0 0 9px; }

a {
  -webkit-transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  -o-transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  text-decoration: none;
  color: #2c87ce;
  font-size: 18px;
  font-weight: bold; }
  a:active, a:focus {
    color: #1f5e8f;
    color: #68abdf;
    outline: none; }
  a:hover {
    color: #1f5e8f; }

hr {
  margin: 1.1em 0;
  border-top: none;
  border-right: none;
  border-left: none; }

img {
  max-width: 100%;
  margin: 0; }

picture {
  max-width: 100%;
  margin: 0; }

.clearfix {
  *zoom: 1; }
  .clearfix:before {
    display: table;
    content: ''; }
  .clearfix:after {
    display: table;
    clear: both;
    content: ''; }

nav ul li {
  display: inline-block; }

.article .clearfix {
  *zoom: 1; }
  .article .clearfix:before {
    display: table;
    content: ''; }
  .article .clearfix:after {
    display: table;
    clear: both;
    content: ''; }

.row {
  max-width: 934px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px; }

.rating {
  float: left;
  margin-top: 22px; }
  .rating ul {
    list-style-type: none;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-size: 0; }
    .rating ul li {
      display: inline-block;
      margin: 0; }
      .rating ul li i {
        width: 18px;
        height: 18px;
        background-image: url(../img/star.png);
        display: block; }
    .rating ul li.hover i {
      background-image: url(../img/star_a.png); }
    .rating ul li.selected i {
      background-image: url(../img/star_a.png); }

.top .leftside {
  width: 50%;
  padding-top: 6px;
  float: left; }
  .top .leftside .img_w {
    width: 100%;
    max-width: 400px;
    background: #eaf2f4;
    position: relative;
    overflow: hidden;
    height: 420px; }
    .top .leftside .img_w img {
      display: block;
      width: auto;
      height: 100%;
      position: relative;
      left: 0;
      right: 0;
      margin: auto;
      max-height: 391px;
      top: 10px;
      max-width: unset; }

.top .rightside {
  width: 45%;
  width: 45.4%;
  float: right; }
  .top .rightside .number {
    font-size: 11px;
    color: #2c303d;
    letter-spacing: unset;
    letter-spacing: 0.2px; }
  .top .rightside .prices {
    width: 100%;
    margin-top: 18px; }
    .top .rightside .prices .old {
      font-size: 24px;
      font-weight: bold;
      color: #2c303d;
      text-decoration: line-through;
      float: left; }
    .top .rightside .prices .new {
      font-size: 24px;
      font-weight: bold;
      color: #2c303d;
      text-decoration: line-through;
      float: left;
      color: #ce2c52;
      text-decoration: none;
      margin-left: 20px;
      margin-left: 26px; }
  .top .rightside .share {
    margin-left: 18px;
    margin-top: 23px;
    float: left;
    letter-spacing: 1px; }
  .top .rightside .size {
    margin-top: 25px; }
    .top .rightside .size span {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      float: left;
      margin-right: 16px;
      margin-top: 11px;
      letter-spacing: 1.4px;
      cursor: pointer; }
    .top .rightside .size .items span {
      width: 38px;
      height: 38px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      behavior: url(css/PIE.htc);
      z-index: 0;
      position: relative;
      font-size: 12px;
      border: 1px solid #2c303d;
      color: #2c303d;
      text-align: center;
      display: block;
      float: left;
      margin-right: 13px;
      line-height: 37px;
      margin-top: 0; }
      .top .rightside .size .items span:hover {
        color: #fff;
        background: #2c303d; }
    .top .rightside .size a.active {
      color: #fff;
      background: #2c303d; }
  .top .rightside .txt {
    margin-top: 25px; }
    .top .rightside .txt p {
      font-size: 12px;
      font-family: Open Sans Light, sans-serif;
      letter-spacing: 0.3px;
      line-height: 16px; }
  .top .rightside button {
    margin-top: 25px; }

.bottom {
  margin-top: 62px; }
  .bottom .item {
    width: 31%;
    width: 31.8%;
    float: left;
    margin-right: 2%;
    margin-right: 2.3%;
    margin-bottom: 2%;
    margin-bottom: 2.3%;
    position: relative; }
    .bottom .item:nth-child(3n) {
      margin-right: 0; }
    .bottom .item .img_w {
      width: 100%;
      max-width: 400px;
      background: #eaf2f4;
      position: relative;
      overflow: hidden;
      height: 265px; }
      .bottom .item .img_w img {
        display: block;
        width: auto;
        height: 100%;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        max-height: 100%;
        max-width: unset; }
    .bottom .item .prices {
      position: absolute;
      bottom: 21px;
      background: #8ae6cf;
      right: 0;
      padding: 3px;
      padding-left: 4px;
      padding-right: 0; }
      .bottom .item .prices div {
        color: #2c303d;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1.3px; }
      .bottom .item .prices .old {
        text-decoration: line-through;
        float: left;
        margin-left: 7px; }
      .bottom .item .prices .new {
        color: #ce2c52;
        margin-left: 13px;
        float: left;
        margin-right: 8px; }
    .bottom .item:hover {
      opacity: 0.8; }

.share_with {
  display: none;
  position: absolute;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  behavior: url(css/PIE.htc);
  background: #fff;
  padding: 15px;
  margin-top: 56px;
  margin-left: 5px; }
  .share_with .items a {
    width: 40px;
    position: relative;
    height: 40px;
    border: 1px solid #2c87ce;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    behavior: url(css/PIE.htc);
    float: left;
    margin-right: 14px;
    margin-top: 12px;
    text-align: center;
    margin-bottom: 6px; }
    .share_with .items a:last-child {
      margin-right: 0; }
    .share_with .items a:hover {
      opacity: 0.8; }
    .share_with .items a img {
      display: block;
      width: auto;
      height: auto;
      margin: auto;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0; }
  .share_with .title {
    color: #2c87ce;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px; }
  .share_with .close {
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(../img/close.png);
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px; }
    .share_with .close:hover {
      opacity: 0.8; }
  .share_with:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 11px;
    left: 0;
    top: -11px;
    right: 0;
    margin: auto;
    display: block;
    background-image: url(../img/tree.png); }

.share_with.open {
  display: block; }

.respons_tablet {
  display: none; }

.respons_tablet.title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.4px;
  margin-bottom: 12px; }

.buttons {
  display: none; }

@media (max-width: 1024px) {
  .respons_tablet {
    display: block; }
  .row {
    padding-left: 35px;
    padding-right: 35px;
    max-width: 716px;
    padding-top: 36px; }
  .top {
    position: relative;
    padding-top: 55px; }
    .top .rightside {
      width: 45%; }
      .top .rightside h1 {
        position: absolute;
        left: 0;
        top: 0;
        letter-spacing: 1.9px; }
      .top .rightside .share {
        display: none; }
      .top .rightside .share_with {
        display: block;
        left: 17px;
        background: none;
        margin: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
        width: 40px;
        top: 71px;
        padding: 0; }
        .top .rightside .share_with:before {
          display: none; }
        .top .rightside .share_with .title {
          display: none; }
        .top .rightside .share_with .close {
          display: none; }
        .top .rightside .share_with .items a {
          margin: 0;
          margin-bottom: 11px; }
      .top .rightside .size {
        margin-top: 27px; }
        .top .rightside .size span {
          display: none; }
        .top .rightside .size .items span {
          margin-right: 23px;
          display: block; }
      .top .rightside .prices {
        margin-top: 10px; }
        .top .rightside .prices .old {
          font-size: 36px; }
        .top .rightside .prices .new {
          font-size: 36px; }
      .top .rightside .rating {
        margin-top: 12px; }
      .top .rightside button {
        margin-top: 21px;
        width: 220px;
        font-size: 18px;
        letter-spacing: 1px;
        padding: 13px; }
    .top .leftside {
      padding-top: 0;
      width: 52%; }
      .top .leftside .img_w {
        height: 354px; }
        .top .leftside .img_w img {
          max-height: 94%; }
  .bottom {
    margin-top: 58px; }
    .bottom h2 {
      text-align: center;
      font-size: 22px;
      letter-spacing: 1.5px;
      margin-bottom: 29px;
      font-family: Open Sans Bold, sans-serif; }
    .bottom .item {
      width: 46%;
      width: 46.5%;
      margin: 6.2%;
      margin-left: 0;
      margin-top: 0; }
      .bottom .item:nth-child(3n) {
        width: 46%;
        width: 46.5%;
        margin: 6.2%;
        margin-left: 0;
        margin-top: 0; }
        .bottom .item:nth-child(3n):nth-child(2n) {
          margin-right: 0; }
        .bottom .item:nth-child(3n) .img_w {
          height: 284px;
          background: none; }
          .bottom .item:nth-child(3n) .img_w img {
            min-width: 100%; }
        .bottom .item:nth-child(3n) .prices {
          width: 100%;
          bottom: 0;
          text-align: center;
          padding-left: 0;
          padding-right: 0; }
          .bottom .item:nth-child(3n) .prices div {
            font-size: 22px;
            letter-spacing: 2.3px;
            font-family: Open Sans Bold, sans-serif; }
          .bottom .item:nth-child(3n) .prices .old {
            display: none;
            margin: 0; }
          .bottom .item:nth-child(3n) .prices .new {
            width: 100%;
            margin: 0; }
      .bottom .item:nth-child(2n) {
        margin-right: 0; }
      .bottom .item .img_w {
        height: 284px;
        background: none; }
        .bottom .item .img_w img {
          min-width: 100%; }
      .bottom .item .prices {
        width: 100%;
        bottom: 0;
        text-align: center;
        padding-left: 0;
        padding-right: 0; }
        .bottom .item .prices div {
          font-size: 22px;
          letter-spacing: 2.3px;
          font-family: Open Sans Bold, sans-serif; }
        .bottom .item .prices .old {
          display: none;
          margin: 0; }
        .bottom .item .prices .new {
          width: 100%;
          margin: 0; } }

@media (max-width: 700px) {
  .row {
    padding-left: 0;
    padding-right: 0; }
  .bottom .item:nth-child(2n) {
    float: right; } }

@media (max-width: 600px) {
  .row {
    max-width: 400px;
    padding-top: 36px; }
  .top {
    padding-top: 96px; }
    .top .leftside {
      width: 100%; }
      .top .leftside .img_w {
        height: 420px;
        width: 100%;
        min-width: 100%; }
    .top .rightside {
      width: 100%;
      float: left;
      padding-right: 34px;
      padding-left: 34px; }
      .top .rightside .number {
        font-size: 13px;
        margin-top: 16px; }
      .top .rightside .share_with {
        width: 100%;
        position: relative;
        float: left;
        left: auto;
        right: auto;
        top: auto; }
        .top .rightside .share_with .items a {
          margin: 0px;
          margin-top: 29px;
          margin-right: 17px; }
      .top .rightside h1 {
        padding-left: 40px;
        padding-right: 66px;
        font-size: 27px;
        letter-spacing: .2px;
        line-height: 36px; }
      .top .rightside .respons_tablet.title {
        display: none; }
      .top .rightside .txt {
        margin-top: 30px; }
        .top .rightside .txt p {
          font-size: 15px;
          letter-spacing: 0.3px;
          line-height: 20px; }
      .top .rightside .size {
        margin-top: 37px; }
        .top .rightside .size .respons_tablet.title {
          display: block;
          text-align: center;
          font-size: 20px; }
        .top .rightside .size .items {
          max-width: 276px;
          margin: auto; }
          .top .rightside .size .items span {
            margin: 14px;
            margin-top: 3px; }
      .top .rightside button {
        width: 282px;
        padding: 19px;
        margin: auto;
        display: block;
        margin-top: 16px;
        -webkit-border-radius: 30px;
                border-radius: 30px; }
  .bottom {
    position: relative;
    margin-top: 85px; }
    .bottom h2 {
      font-size: 23px;
      margin-bottom: 17px; }
  #slides {
    position: relative;
    height: 264px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    width: 278px;
    overflow: hidden;
    margin: auto; }
    #slides .item {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
      -webkit-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s; }
      #slides .item .prices {
        background: rgba(138, 230, 207, 0.84);
        padding: 6px; }
        #slides .item .prices div {
          font-size: 18px; }
      #slides .item:nth-child(2n) {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        -webkit-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s; }
        #slides .item:nth-child(2n) .prices {
          padding: 6px; }
          #slides .item:nth-child(2n) .prices div {
            font-size: 18px; }
      #slides .item:nth-child(3n) {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        -webkit-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s; }
        #slides .item:nth-child(3n) .prices {
          padding: 6px; }
          #slides .item:nth-child(3n) .prices div {
            font-size: 18px; }
      #slides .item:nth-child(2n).showing {
        opacity: 1;
        z-index: 2; }
      #slides .item:nth-child(3n).showing {
        opacity: 1;
        z-index: 2; }
    #slides .item.showing {
      opacity: 1;
      z-index: 2; }
  .controls {
    display: none;
    background: none;
    background-image: url(../img/ar_r.png);
    width: 33px;
    height: 57px;
    -webkit-border-radius: none;
            border-radius: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-background-size: cover;
            background-size: cover; }
    .controls:focus {
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      outline: none; }
  .controls#previous {
    background-image: url(../img/ar_l.png);
    left: 0;
    right: auto; }
  .container {
    position: relative; }
  .buttons {
    position: absolute;
    left: 0px;
    right: 0;
    width: 100%;
    top: auto;
    bottom: 108px;
    z-index: 10;
    font-size: 0px;
    margin: auto;
    max-width: 360px;
    height: 50px;
    display: block; } }

@media (max-width: 370px) {
  .top .rightside {
    padding-left: 10px;
    padding-right: 10px; }
    .top .rightside .share_with .items a {
      margin-right: 10px; }
    .top .rightside h1 {
      padding-left: 10px;
      padding-right: 10px; }
  #slides {
    width: 78%; } }
